section {

    height: 340px;
    // border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

// .project-img-box {
//     display: flex;


// }

img {
    width: 750px;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 1));
}


.project-description-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;

    h2 {
        font-size: 32px;
        color: #00BEE8;
    }

    span {
        font-size: 23px;
        color: #4B47FF;
    }

    p {
        color: white;
    }
}


.project-btns {
    display: flex;
    gap: 60px;
    font-size: 23px;
}

.live-btn {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 60px;
    border-radius: 10px;
    background-color: #00BEE8;
    transition: all ease-in-out 100ms;

    &:hover {
        scale: 1.1;
    }
}

.github-btn {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 60px;
    border: solid 1px #4B47FF;
    border-radius: 10px;
    transition: all ease-in-out 100ms;

    &:hover {
        scale: 1.1;
    }

    &:active {
        scale: 0.9;
    }
}



.reverse-project {
    align-items: end;
    text-align: end;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.project-img-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
  }



@media(max-width:1700px) {
    section {
        gap: 100px;
    }
}

@media(max-width:1600px) {
    section {
        gap: 50px;
    }

    img {
        width: 650px;
    }
}

@media(max-width:1400px) {
    section {
        flex-direction: column !important;
        height: fit-content;
        gap: 50px;
    }

    .project-description-box {
        text-align: center !important;
    }

    .reverse-project {
        align-items: center;
    }

    .project-btns {
        justify-content: center;
    }
}


@media(max-width:800px) {
    img {
        width: 100%;
    }

    .project-description-box {
        width: 100%;
    }
}


@media(max-width:450px) {
    .project-btns {
        gap: 5%;
    }

    .github-btn {
        width: 140px;
        height: 55px;
    }

    .live-btn {
        width: 140px;
        height: 55px;
    }

    section {
        gap: 30px;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    section {
        flex-direction: row !important;
        gap: 10px;
    }

    img {
        width: 50%;
    }

    .project-description-box {
        gap: 5px;
    }

    .project-btns {
        gap: 40px;
    }

    .github-btn {
        width: 130px;
        height: 52px;
    }

    .live-btn {
        width: 130px;
        height: 52px;
    }
}