section {
    width: 1160px;
    height: 340px;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .project-img-box {
        display: flex;

        img {
            width: 500px;
        }

    }

    .project-description-box {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-size: 32px;
            color: #00BEE8;
        }

        span {
            font-size: 23px;
            color: #4B47FF;
        }

        p {
            color: white;
        }
    }

}