<section>


    <svg data-aos="zoom-in-up" data-aos-duration="700" class="blue-shadow" width="783" height="759" viewBox="0 0 783 759" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_f_97220_3813)">
            <path class="blue-color-animation"
                d="M93.4972 533C35.1303 445.477 184.439 354.917 192.997 343.5C192.997 343.5 59.4973 208 254.497 220C449.497 232 372.997 93 372.997 93L524.182 244C524.182 244 297 260.294 350.378 436.39C371.073 504.661 417.486 545.591 466.565 570.119C505.807 523.277 545.662 456.455 584.885 363.785C792.538 -126.825 628.238 606.679 628.238 606.679C628.238 606.679 544.077 608.855 466.565 570.119C298.052 771.266 140.839 603.991 93.4972 533Z"
                fill="#1CDAE6" />
        </g>
        <defs>
            <filter id="filter0_f_97220_3813" x="-13" y="0" width="795.931" height="758.853"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="46.5" result="effect1_foregroundBlur_97220_3813" />
            </filter>
        </defs>
    </svg>


    <svg data-aos="zoom-in-up" data-aos-duration="700" class="purple-shadow" width="855" height="1314" viewBox="0 0 855 1314" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_f_230_439)">
            <path class="purple-color-animation"
                d="M367.487 824.862C384.43 835.533 400.821 845.446 416.215 854.41C525.715 894.41 428.715 858.41 382.715 887.91C360.032 902.457 351.939 859.619 367.487 824.862C196.039 716.887 -32.0167 531.342 142.715 466.91C382.715 378.41 394.715 350.91 439.215 264.91C483.715 178.91 624.715 -0.58989 689.715 155.41C754.715 311.41 770.215 380.41 757.215 466.91C744.215 553.41 601.715 567.41 719.215 710.91C836.715 854.41 624.215 1363.41 500.215 1182.41C376.215 1001.41 649.715 917.91 500.215 814.41C424.435 761.947 383.47 789.135 367.487 824.862Z"
                fill="#9747FF" />
        </g>
        <defs>
            <filter id="filter0_f_230_439" x="-13" y="0.851562" width="867.441" height="1313"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="46.5" result="effect1_foregroundBlur_230_439" />
            </filter>
        </defs>
    </svg>


    <img data-aos="fade-up" data-aos-duration="700" class="profile" src="profile/file.png" alt="">
    <img class="design" src="img/hero-background.png" alt="">
    


    <div class="conact-box">
        <span class="line"></span>
        <a data-aos="fade-up" target="_blank" href="https://github.com/JamalDrakeAman">
            <img src="icon/github-icon.svg" alt="">
        </a>
        <a data-aos="fade-up" href="mailto:jd.aman.web@gmail.com">
            <img src="icon/email-icon.svg" alt="">
        </a>
        <a data-aos="fade-up" target="_blank" href="https://www.linkedin.com/in/jamal-drake-aman-a5640b325/">
            <img src="icon/linkedin-icon.svg" alt="">
        </a>
        <a class="email-txt" href="#">jd.aman.web&#64;gmail.com</a>
    </div>



    <div data-aos="flip-up" data-aos-duration="600" class="i-am-container">

        <div class="i-am-box">
            <span class="rotate-text">I am</span>

            <div class="name-box">
                <h1>Jamal Drake Aman</h1>
                <p class="blue-txt">{{"hero.nameBox" | translate}}</p>
            </div>

        </div>

        <a class="contact-me-btn" href="#contact">{{"hero.contactBtn" | translate}}</a>

    </div>



    <div class="scroll-container">
        <span>Scroll down</span>
        <img src="icon/down-arrow.svg" alt="">
    </div>



</section>