<header>
    <h1> Jamal</h1>



    <nav>
        <img (click)="toggleLanguage()" [src]="currentLanguage === 'en' ? 'icon/en-icon.svg' : 'icon/de-icon.svg'"
            class="language-icon desktop-icon" />

        <a href="#about-me">{{"nav.aboutMe" | translate}}</a>
        <a href="#skills"> {{"nav.skills" | translate}}</a>
        <a href="#portfolio">Portfolio</a>
    </nav>

    <div class="mobile-menu-container">
        <img (click)="toggleLanguage()" [src]="currentLanguage === 'en' ? 'icon/en-icon.svg' : 'icon/de-icon.svg'"
            class="language-icon mobil-icon" />
        <img (click)="openOverlay()" class="burger-menu" src="icon/burger.svg" alt="">
    </div>


    <div id="menu-overlay" class="menu-overlay hide-overlay">

        <a href="#">About me</a>
        <a href="#">My Skills</a>
        <a href="#">Portfolio</a>
        <a href="#">Contact</a>

    </div>


</header>