<header>
    <a class="headline" href="#">Jamal</a>

    <nav>
        <img (click)="toggleLanguage()" [src]="currentLanguage === 'en' ? 'icon/en-icon.svg' : 'icon/de-icon.svg'"
            class="language-icon desktop-icon" />

        <a href="#about-me">{{"nav.aboutMe" | translate}}</a>
        <a href="#skills"> {{"nav.skills" | translate}}</a>
        <a href="#portfolio">Portfolio</a>
    </nav>

    <div class="mobile-menu-container">
        <img (click)="toggleLanguage()" [src]="currentLanguage === 'en' ? 'icon/en-icon.svg' : 'icon/de-icon.svg'"
            class="language-icon mobil-icon" />
        <img (click)="openOverlay()" class="burger-menu" src="icon/burger.svg" alt="">
    </div>


    <div id="menu-overlay" class="menu-overlay hide-overlay" (click)="openOverlay()">

        <a href="#about-me">{{"overlay.aboutMe" | translate}}</a>
        <a href="#skills">{{"overlay.mySkills" | translate}}</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">{{"overlay.contact" | translate}}</a>

    </div>


</header>


