section {
    color: white;
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    max-width: 1920px;
    // height: 100vh;
    // background-color: #141D2F;
    padding: 100px 0 100px 120px;
    justify-content: space-between;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.about-me-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 600px;

    .about-me-section {
        display: flex;
        gap: 20px;

        img {
            filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 1));
        }
    }
}

h1 {
    font-size: 90px;
}


.profile-img-container {
    display: flex;
    align-items: center;

    .profile-img {
        border: solid 6px #4B47FF;
        width: 420px;
        height: 420px;
        border-radius: 50%;
        background-image: url('./../../../../public/profile/profil-img2.jpg');
        background-position: center;
        background-size: 620px;
    }

    .line {
        width: 350px;
        height: 5px;
        background-color: #4B47FF;
    }
}

@media(max-width:1600px) {

    .profile-img-container {
        .profile-img {
            width: 380px;
            height: 380px;
        }

        .line {
            width: 250px;
        }
    }

}

@media(max-width:1400px) {
    .profile-img-container {

        .line {
            width: 120px;
        }
    }
}

@media(max-width:1250px) {
    .profile-img-container {
        .profile-img {
            width: 360px;
            height: 360px;
        }

        .line {
            width: 100px;
        }
    }

    h1 {
        font-size: 60px;
    }
}

@media(max-width: 1200px) {
    .profile-img-container {
        display: none;
    }

    section {
        padding: 10px 120px;
    }

    .about-me-container {
        width: 100%;
        gap: 20px;
    }
}



@media(max-width:800px) {

    section {
        padding: 50px 80px;
    }
}


@media(max-width: 650px) {
    section {
        padding: 50px 40px;
    }
}

@media(max-width: 500px) {
    section {
        padding: 50px 15px 100px;
    }

    h1 {
        font-size: 45px;
    }
}