<section>


    <div class="about-me-container">
        <h1>{{"aboutMe.headline" | translate}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum aspernatur id ratione corrupti architecto!
            Quisquam perferendis, sapiente earum exercitationem recusandae facilis amet magni et. Eligendi saepe
            veritatis quis laudantium nulla.
        </p>

        <div class="about-me-section">
            <img src="icon/location-icon.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum aspernatur id ratione corrupti
                architecto!
                Quisquam perferendis, sapiente earum exercitationem recusandae facilis amet magni et. Eligendi saepe
                veritatis quis laudantium nulla.</p>
        </div>

        <div class="about-me-section">
            <img src="icon/bulb-icon.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum aspernatur id ratione corrupti
                architecto!
                Quisquam perferendis, sapiente earum exercitationem recusandae facilis amet magni et. Eligendi saepe
                veritatis quis laudantium nulla.</p>
        </div>

        <div class="about-me-section">
            <img src="icon/puzzle-icon.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum aspernatur id ratione corrupti
                architecto!
                Quisquam perferendis, sapiente earum exercitationem recusandae facilis amet magni et. Eligendi saepe
                veritatis quis laudantium nulla.</p>
        </div>
    </div>



    <div class="profile-img-container">

        <div class="profile-img">
        </div>


        <span class="line"></span>

    </div>


</section>