<section>


    <div data-aos-anchor-placement="top-center" class="about-me-container">
        <h1 data-aos="fade-right">{{"aboutMe.headline" | translate}}</h1>

        <p data-aos="fade-right" data-aos-delay="50" data-aos-anchor-placement="top-bottom">
            {{"aboutMe.introduction" | translate}}
        </p>

        <div data-aos="fade-right" data-aos-delay="100" data-aos-anchor-placement="top-bottom" class="about-me-section">
            <img src="icon/location-icon.svg" alt="">
            <p>
                {{"aboutMe.location" | translate}}
            </p>
        </div>

        <div data-aos="fade-right" data-aos-delay="200" data-aos-anchor-placement="top-bottom" class="about-me-section">
            <img src="icon/bulb-icon.svg" alt="">
            <p>
                {{"aboutMe.workEnvironment" | translate}}
            </p>
        </div>

        <div data-aos="fade-right" data-aos-delay="300" data-aos-anchor-placement="top-bottom" class="about-me-section">
            <img src="icon/puzzle-icon.svg" alt="">
            <p>
                {{"aboutMe.goal" | translate}}
            </p>
        </div>
    </div>



    <div data-aos="fade-left" class="profile-img-container">

        <div class="profile-img">
        </div>


        <span class="line"></span>

    </div>


</section>