<section>


    <div class="about-me-container">
        <h1>{{"aboutMe.headline" | translate}}</h1>
        <p>
            {{"aboutMe.introduction" | translate}}
        </p>

        <div class="about-me-section">
            <img src="icon/location-icon.svg" alt="">
            <p>
                {{"aboutMe.location" | translate}}
            </p>
        </div>

        <div class="about-me-section">
            <img src="icon/bulb-icon.svg" alt="">
            <p>
                {{"aboutMe.workEnvironment" | translate}}
            </p>
        </div>

        <div class="about-me-section">
            <img src="icon/puzzle-icon.svg" alt="">
            <p>
                {{"aboutMe.goal" | translate}}
            </p>
        </div>
    </div>



    <div class="profile-img-container">

        <div class="profile-img">
        </div>


        <span class="line"></span>

    </div>


</section>