section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px;
}

.feedback-container {
    display: flex;
}

.next-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.next-icon {
    cursor: pointer;

    &:hover {
        scale: 1.1;
    }
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;

    background-color: #00BEE8;

    &.active {
        background-color: #70E61C;
    }
}

@keyframes slideInNext {
    from {
        opacity: 0;
        transform: translateX(50px);
        /* Start leicht nach rechts verschoben */
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.feedback-item-next {
    animation: slideInNext 1s ease-in-out;
}

.feedback-item-back {
    animation: slideInBack 1s ease-in-out;
}

@keyframes slideInBack {
    from {
        opacity: 0;
        transform: translateX(-50px);
        /* Kommt von links */
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media(max-width: 800px) {
    section {
        padding: 50px;
    }
}

@media(max-width: 600px) {
    section {
        padding: 20px;
    }
}

@media(max-width: 500px) {
    section {
        padding: 0;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    section {
        gap: 12px;
    }
}