section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding: 50px 120px;
    font-size: 20px;
}

.m-elements {
    word-break: break-word;
}

a {
    color: #00BEE8;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@media(max-width:1000px) {
    section {
        font-size: 18px;
        padding: 50px;
    }
}

@media(max-width:700px) {
    section {
        font-size: 16px;
        padding: 50px 15px;
    }
}