<section>
    <h1>{{"privacyPolicy.headline" | translate}}</h1>
    <p>{{"privacyPolicy.date" | translate}}</p>
    <h2>{{"privacyPolicy.head" | translate}}</h2>
    <ul class="index">
        <li><a class="index-link" (click)="scrollToElement('m3')">{{"privacyPolicy.tableOfContents.m3" | translate}}</a>
        </li>
        <li><a class="index-link" (click)="scrollToElement('mOverview')">{{"privacyPolicy.tableOfContents.mOverview" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m2427')">{{"privacyPolicy.tableOfContents.m2427" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m27')">{{"privacyPolicy.tableOfContents.m27" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m25')">{{"privacyPolicy.tableOfContents.m25" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m24')">{{"privacyPolicy.tableOfContents.m24" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m12')">{{"privacyPolicy.tableOfContents.m12" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m10')">{{"privacyPolicy.tableOfContents.m10" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m225')">{{"privacyPolicy.tableOfContents.m225" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m134')">{{"privacyPolicy.tableOfContents.m134" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m182')">{{"privacyPolicy.tableOfContents.m182" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m638')">{{"privacyPolicy.tableOfContents.m638" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m136')">{{"privacyPolicy.tableOfContents.m136" |
                translate}}</a></li>
        <li><a class="index-link" (click)="scrollToElement('m328')">{{"privacyPolicy.tableOfContents.m328" |
                translate}}</a></li>
    </ul>
    <h2 id="m3">{{"privacyPolicy.dataController.m3" | translate}}</h2>
    <p>Jamal Drake Aman<br>Musterstraße. 20<br>{{"privacyPolicy.dataController.location" | translate}}</p>
    <p>{{"privacyPolicy.dataController.email" | translate}} <a
            href="mailto:jd.aman.web@gmail.com">jd.aman.web&#64;gmail.com</a></p>

    <h2 id="mOverview">{{"privacyPolicy.overview.headline" | translate}}</h2>
    <p>{{"privacyPolicy.overview.description" | translate}}</p>
    <h3>{{"privacyPolicy.overview.dataTypes.head" | translate}}</h3>
    <ul>
        <li>{{"privacyPolicy.overview.dataTypes.items.0" | translate}}.</li>
        <li>{{"privacyPolicy.overview.dataTypes.items.1" | translate}}</li>
        <li>{{"privacyPolicy.overview.dataTypes.items.2" | translate}}</li>
        <li>{{"privacyPolicy.overview.dataTypes.items.3" | translate}}</li>
        <li>{{"privacyPolicy.overview.dataTypes.items.4" | translate}}</li>
        <li>{{"privacyPolicy.overview.dataTypes.items.5" | translate}}</li>
    </ul>
    <h3>{{"privacyPolicy.overview.affectedPersons.head" | translate}}</h3>
    <ul>
        <li>{{"privacyPolicy.overview.affectedPersons.items.0" | translate}}</li>
        <li>{{"privacyPolicy.overview.affectedPersons.items.1" | translate}}</li>
    </ul>
    <h3>{{"privacyPolicy.overview.processingPurposes.head" | translate}}</h3>
    <ul>
        <li>{{"privacyPolicy.overview.processingPurposes.items.0" | translate}}</li>
        <li>{{"privacyPolicy.overview.processingPurposes.items.1" | translate}}</li>
        <li>{{"privacyPolicy.overview.processingPurposes.items.2" | translate}}</li>
        <li>{{"privacyPolicy.overview.processingPurposes.items.3" | translate}}</li>
        <li>{{"privacyPolicy.overview.processingPurposes.items.4" | translate}}</li>
        <li>{{"privacyPolicy.overview.processingPurposes.items.5" | translate}}</li>
        <li>{{"privacyPolicy.overview.processingPurposes.items.6" | translate}}</li>
        <li>{{"privacyPolicy.overview.processingPurposes.items.7" | translate}}</li>
        <li>{{"privacyPolicy.overview.processingPurposes.items.8" | translate}}</li>
        <li>{{"privacyPolicy.overview.processingPurposes.items.9" | translate}}</li>
    </ul>
    <h2 id="m2427">{{"privacyPolicy.legalBasis.headline" | translate}}</h2>
    <p>{{"privacyPolicy.legalBasis.intro" | translate}}</p>
    <ul>
        <li><strong>{{"privacyPolicy.legalBasis.items.consent.title" | translate}}</strong> -
            {{"privacyPolicy.legalBasis.items.consent.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.legalBasis.items.contract.title" | translate}}</strong> -
            {{"privacyPolicy.legalBasis.items.contract.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.legalBasis.items.legitimateInterests.title" | translate}}</strong> -
            {{"privacyPolicy.legalBasis.items.legitimateInterests.description" | translate}}</li>
    </ul>
    <h2>{{"privacyPolicy.nationalRegulations.headline" | translate}}</h2>
    <p>{{"privacyPolicy.nationalRegulations.description" | translate}}</p>

    <h2>{{"privacyPolicy.applicabilityNotice.headline" | translate}}</h2>
    <p>{{"privacyPolicy.applicabilityNotice.description" | translate}}</p>

    <h2 id="m27">{{"privacyPolicy.securityMeasures.headline" | translate}}</h2>
    <p>{{"privacyPolicy.securityMeasures.description.0" | translate}}</p>
    <p>{{"privacyPolicy.securityMeasures.description.1" | translate}}</p>

    <h2 id="m25">{{"privacyPolicy.dataTransfer.headline" | translate}}</h2>
    <p>{{"privacyPolicy.dataTransfer.description" | translate}}</p>

    <h2 id="m24" translate="no">{{ 'privacyPolicy.international_data_transfers.title' | translate }}</h2>
    <p>{{ 'privacyPolicy.international_data_transfers.content' | translate }}</p>

    <h2 id="m12">{{"privacyPolicy.dataRetention.title" | translate}}</h2>

    <p>{{"privacyPolicy.dataRetention.content.0" | translate}}</p>
    <p>{{"privacyPolicy.dataRetention.content.1" | translate}}</p>
    <p>{{"privacyPolicy.dataRetention.content.2" | translate}}</p>
    <p>{{"privacyPolicy.dataRetention.content.3" | translate}}</p>
    <p>{{"privacyPolicy.dataRetention.content.4" | translate}}</p>
    <p>{{"privacyPolicy.dataRetention.content.5" | translate}}</p>

    <h3>{{"privacyPolicy.dataRetention.storagePeriods.headline" | translate}}</h3>

    <ul class="m-elements">
        <li>
            <strong>{{"privacyPolicy.dataRetention.storagePeriods.10years.title" | translate}}</strong> -
            {{"privacyPolicy.dataRetention.storagePeriods.10years.description" | translate}}
        </li>
        <li>
            <strong>{{"privacyPolicy.dataRetention.storagePeriods.8years.title" | translate}}</strong> -
            {{"privacyPolicy.dataRetention.storagePeriods.8years.description" | translate}}
        </li>
        <li>
            <strong>{{"privacyPolicy.dataRetention.storagePeriods.6years.title" | translate}}</strong> -
            {{"privacyPolicy.dataRetention.storagePeriods.6years.description" | translate}}
        </li>
        <li>
            <strong>{{"privacyPolicy.dataRetention.storagePeriods.3years.title" | translate}}</strong> -
            {{"privacyPolicy.dataRetention.storagePeriods.3years.description" | translate}}
        </li>
    </ul>


    <h2 id="m10">{{"privacyPolicy.dataSubjectRights.title" | translate}}</h2>

    <p>{{"privacyPolicy.dataSubjectRights.intro" | translate}}</p>

    <ul>
        <li><strong>{{"privacyPolicy.dataSubjectRights.rights.objection.title" | translate}}</strong> -
            {{"privacyPolicy.dataSubjectRights.rights.objection.description" | translate}}
        </li>
        <li><strong>{{"privacyPolicy.dataSubjectRights.rights.withdrawal.title" | translate}}</strong> -
            {{"privacyPolicy.dataSubjectRights.rights.withdrawal.description" | translate}}
        </li>
        <li><strong>{{"privacyPolicy.dataSubjectRights.rights.access.title" | translate}}</strong> -
            {{"privacyPolicy.dataSubjectRights.rights.access.description" | translate}}
        </li>
        <li><strong>{{"privacyPolicy.dataSubjectRights.rights.rectification.title" | translate}}</strong> -
            {{"privacyPolicy.dataSubjectRights.rights.rectification.description" | translate}}
        </li>
        <li><strong>{{"privacyPolicy.dataSubjectRights.rights.erasure.title" | translate}}</strong> -
            {{"privacyPolicy.dataSubjectRights.rights.erasure.description" | translate}}
        </li>
        <li><strong>{{"privacyPolicy.dataSubjectRights.rights.portability.title" | translate}}</strong> -
            {{"privacyPolicy.dataSubjectRights.rights.portability.description" | translate}}
        </li>
        <li><strong>{{"privacyPolicy.dataSubjectRights.rights.complaint.title" | translate}}</strong> -
            {{"privacyPolicy.dataSubjectRights.rights.complaint.description" | translate}}
        </li>
    </ul>

    <h2 id="m225">{{"privacyPolicy.webHosting.title" | translate}}</h2>

    <p>{{"privacyPolicy.webHosting.content.0" | translate}}</p>

    <ul class="m-elements">
        <li><strong>{{"privacyPolicy.webHosting.processedDataTypes.title" | translate}}:</strong>
            {{"privacyPolicy.webHosting.processedDataTypes.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.webHosting.affectedPersons.title" | translate}}:</strong>
            {{"privacyPolicy.webHosting.affectedPersons.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.webHosting.processingPurposes.title" | translate}}:</strong>
            {{"privacyPolicy.webHosting.processingPurposes.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.webHosting.retentionAndDeletion.title" | translate}}:</strong>
            {{"privacyPolicy.webHosting.retentionAndDeletion.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.webHosting.legalBasis.title" | translate}}:</strong>
            {{"privacyPolicy.webHosting.legalBasis.description" | translate}}</li>
    </ul>
    <h2 id="m134">{{"privacyPolicy.cookies.title" | translate}}</h2>

    <p>{{"privacyPolicy.cookies.content.0" | translate}}</p>
    <p>{{"privacyPolicy.cookies.content.1" | translate}}</p>

    <h3>{{"privacyPolicy.cookies.storageDuration.headline" | translate}}</h3>
    <ul>
        <li><strong>{{"privacyPolicy.cookies.storageDuration.temporary.title" | translate}}</strong> -
            {{"privacyPolicy.cookies.storageDuration.temporary.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.cookies.storageDuration.permanent.title" | translate}}</strong> -
            {{"privacyPolicy.cookies.storageDuration.permanent.description" | translate}}</li>
    </ul>


    <h2 id="m182">{{"privacyPolicy.contactManagement.title" | translate}}</h2>

    <p>{{"privacyPolicy.contactManagement.description" | translate}}</p>

    <ul class="m-elements">
        <li><strong>{{"privacyPolicy.contactManagement.processedData.title" | translate}}</strong> -
            {{"privacyPolicy.contactManagement.processedData.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.contactManagement.affectedUsers.title" | translate}}</strong> -
            {{"privacyPolicy.contactManagement.affectedUsers.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.contactManagement.processingPurposes.title" | translate}}</strong> -
            {{"privacyPolicy.contactManagement.processingPurposes.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.contactManagement.storageDeletion.title" | translate}}</strong> -
            {{"privacyPolicy.contactManagement.storageDeletion.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.contactManagement.legalBasis.title" | translate}}</strong> -
            {{"privacyPolicy.contactManagement.legalBasis.description" | translate}}</li>
    </ul>

    <p><strong>{{"privacyPolicy.contactManagement.additionalInfo.title" | translate}}</strong></p>

    <ul class="m-elements">
        <li><strong>{{"privacyPolicy.contactManagement.contactForm.title" | translate}}</strong> -
            {{"privacyPolicy.contactManagement.contactForm.description" | translate}}
            <span class=""><strong>{{"privacyPolicy.contactManagement.contactForm.legalBasisTitle" |
                    translate}}</strong> -
                {{"privacyPolicy.contactManagement.contactForm.legalBasisDescription" | translate}}</span>
        </li>
    </ul>


    <h2 id="m638">{{"privacyPolicy.advertisingCommunication.title" | translate}}</h2>

    <p>{{"privacyPolicy.advertisingCommunication.content.0" | translate}}</p>
    <p>{{"privacyPolicy.advertisingCommunication.content.1" | translate}}</p>
    <p>{{"privacyPolicy.advertisingCommunication.content.2" | translate}}</p>

    <ul class="m-elements">
        <li><strong>{{"privacyPolicy.advertisingCommunication.processedData.title" | translate}}</strong> -
            {{"privacyPolicy.advertisingCommunication.processedData.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.advertisingCommunication.affectedUsers.title" | translate}}</strong> -
            {{"privacyPolicy.advertisingCommunication.affectedUsers.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.advertisingCommunication.purposes.title" | translate}}</strong> -
            {{"privacyPolicy.advertisingCommunication.purposes.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.advertisingCommunication.retention.title" | translate}}</strong> -
            {{"privacyPolicy.advertisingCommunication.retention.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.advertisingCommunication.legalBasis.title" | translate}}</strong> -
            {{"privacyPolicy.advertisingCommunication.legalBasis.description" | translate}}</li>
    </ul>


    <h2 id="m136">{{"privacyPolicy.socialMedia.title" | translate}}</h2>

    <p>{{"privacyPolicy.socialMedia.content.0" | translate}}</p>
    <p>{{"privacyPolicy.socialMedia.content.1" | translate}}</p>
    <p>{{"privacyPolicy.socialMedia.content.2" | translate}}</p>
    <p>{{"privacyPolicy.socialMedia.content.3" | translate}}</p>
    <p>{{"privacyPolicy.socialMedia.content.4" | translate}}</p>

    <ul class="m-elements">
        <li><strong>{{"privacyPolicy.socialMedia.processedData.title" | translate}}:</strong>
            {{"privacyPolicy.socialMedia.processedData.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.socialMedia.affectedUsers.title" | translate}}:</strong>
            {{"privacyPolicy.socialMedia.affectedUsers.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.socialMedia.purposes.title" | translate}}:</strong>
            {{"privacyPolicy.socialMedia.purposes.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.socialMedia.retention.title" | translate}}:</strong>
            {{"privacyPolicy.socialMedia.retention.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.socialMedia.legalBasis.title" | translate}}:</strong>
            {{"privacyPolicy.socialMedia.legalBasis.description" | translate}}</li>
    </ul>

    <p><strong>{{"privacyPolicy.socialMedia.services.title" | translate}}</strong></p>
    <ul class="m-elements">
        <li><strong>{{"privacyPolicy.socialMedia.services.linkedin.title" | translate}}:</strong>
            {{"privacyPolicy.socialMedia.services.linkedin.description" | translate}}
            <br><strong>{{"privacyPolicy.socialMedia.services.linkedin.provider" | translate}}:</strong>
            {{"privacyPolicy.socialMedia.services.linkedin.providerName" | translate}}
            <br><strong>{{"privacyPolicy.socialMedia.services.linkedin.legalBasis.title" | translate}}:</strong>
            {{"privacyPolicy.socialMedia.services.linkedin.legalBasis.description" | translate}}
            <br><strong>{{"privacyPolicy.socialMedia.services.linkedin.website" | translate}}:</strong>
            <a href="https://www.linkedin.com" target="_blank">https://www.linkedin.com</a>
            <br><strong>{{"privacyPolicy.socialMedia.services.linkedin.privacyPolicy" | translate}}:</strong>
            <a href="https://www.linkedin.com/legal/privacy-policy"
                target="_blank">https://www.linkedin.com/legal/privacy-policy</a>
            <br><strong>{{"privacyPolicy.socialMedia.services.linkedin.optOut" | translate}}:</strong>
            <a href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
                target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a>
        </li>
    </ul>


    <h2 id="m328">{{"privacyPolicy.plugins.title" | translate}}</h2>

    <p>{{"privacyPolicy.plugins.content.0" | translate}}</p>
    <p>{{"privacyPolicy.plugins.content.1" | translate}}</p>
    <p><strong>{{"privacyPolicy.plugins.legal.headline" | translate}}</strong>
        {{"privacyPolicy.plugins.legal.description" | translate}}</p>

    <ul class="m-elements">
        <li><strong>{{"privacyPolicy.plugins.processedData.title" | translate}}</strong> -
            {{"privacyPolicy.plugins.processedData.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.plugins.affectedUsers.title" | translate}}</strong> -
            {{"privacyPolicy.plugins.affectedUsers.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.plugins.purpose.title" | translate}}</strong> -
            {{"privacyPolicy.plugins.purpose.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.plugins.storage.title" | translate}}</strong> -
            {{"privacyPolicy.plugins.storage.description" | translate}}</li>
        <li><strong>{{"privacyPolicy.plugins.legalBasis.title" | translate}}</strong> -
            {{"privacyPolicy.plugins.legalBasis.description" | translate}}</li>
    </ul>

    <p><strong>{{"privacyPolicy.plugins.additionalInfo.headline" | translate}}</strong></p>
    <ul class="m-elements">
        <li><strong>{{"privacyPolicy.plugins.googleFonts.title" | translate}}</strong> -
            {{"privacyPolicy.plugins.googleFonts.description" | translate}}
            <br><strong>{{"privacyPolicy.plugins.googleFonts.provider" | translate}}</strong>: Google Ireland Limited,
            Gordon House, Barrow Street, Dublin 4, Irland
            <br><strong>{{"privacyPolicy.plugins.googleFonts.legalBasis" | translate}}</strong>:
            {{"privacyPolicy.plugins.googleFonts.legalBasisDescription" | translate}}
            <br><strong>{{"privacyPolicy.plugins.googleFonts.website" | translate}}</strong>: <a
                href="https://fonts.google.com/" target="_blank">https://fonts.google.com/</a>
            <br><strong>{{"privacyPolicy.plugins.googleFonts.privacyPolicy" | translate}}</strong>: <a
                href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>
            <br><strong>{{"privacyPolicy.plugins.googleFonts.moreInfo" | translate}}</strong>: <a
                href="https://developers.google.com/fonts/faq/privacy?hl=de"
                target="_blank">https://developers.google.com/fonts/faq/privacy?hl=de</a>
        </li>
    </ul>

    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
            rel="noopener noreferrer nofollow">{{"privacyPolicy.plugins.generatedBy" | translate}}</a></p>
            
</section>