<section>

    <div data-aos="fade-left" data-aos-anchor-placement="top-center" class="headline-container">
        <span class="line1"></span>
        <h1>Portfolio</h1>
        <span class="line2"></span>
    </div>

    <p data-aos="fade-up" data-aos-anchor-placement="top-center">{{"portfolio.intro" | translate}}</p>

    <div class="projects-container">

        @for (item of projects; track $index; let i = $index) {

        <app-project-comp class="project-box" [projectIndex]="i" [project]="item"
            [description]="'portfolio.projectDiscription.' + i | translate"></app-project-comp>
        }

    </div>



</section>