<section>

    <div class="comment-box">

        <p>
            In the short time I got to know Jamal, I found out that he's someone who thinks out of the box.
            Someone who doesn't shy away when it's getting hard. Someone who's looking and applying solutions
            and betterment at every step. He is the kind of guy I would start a project at any time.
        </p>

        <div class="person-box">
            <span class="line"></span>
            <p class="partner"><span class="name">P.Ivan</span> - <span class="label">Frontend Developer</span></p>
        </div>

    </div>

    <div class="profile-box">
        <img src="profile/user-img.png" alt="">
    </div>

</section>