section {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-width: 1920px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0 150px 100px;
    color: whitesmoke;

}





.skills-container {
    width: 700px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    row-gap: 0px;
}

.skill {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 65px;
    align-items: center;
    text-align: center;

    img {
        transition: all ease-in-out 100ms;

        &:hover {
            scale: 1.2;
            transform: translateY(-10px);
        }

    }
}





.my-skills-container {
    display: flex;
    flex-direction: column;
    color: white;
    // width: 800px;
    height: fit-content;
    gap: 20px;
}

.headline {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 90px;
}

.line {
    width: 360px;
    height: 5px;
    background-color: #4B47FF;
}



p {
    padding-right: 120px;
}

.bold-txt {
    font-size: 30px;
    font-weight: bold;

    .blue-txt {
        color: #00BEE8;
    }
}






.contact-me-btn {
    width: 200px;
    height: 60px;
    font-size: 23px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #4B47FF;
    transition: all ease-in-out 100ms;

    &:hover {
        scale: 1.2;
    }

    &:active {
        scale: 0.9;
    }
}

.mobile-headline {
    display: none;
}


@media(max-width: 1600px) {
    section {
        flex-direction: column;
        justify-content: space-between;
        padding: 100px;
    }

    .skills-container {
        width: 100%;
        justify-content: center;
    }

    .desktop-headline {
        display: none;
    }

    .mobile-headline {
        display: block;
    }

    .headline {
        justify-content: end;
        gap: 20px;
    }

    h1 {
        font-size: 60px;
    }

    .line {
        width: 150px;
    }

}


@media(max-width: 800px) {
    section {
        padding: 60px;
    }

    .skills-container {
        gap: 60px;
    }

    h1 {
        font-size: 50px;
    }

    .line {
        width: 100px;
    }

    p {
        padding: 0;
        text-align: center;
    }
}


@media(max-width: 500px) {
    section {
        padding: 20px;

        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .skills-container {
        gap: 35px;
    }

    .line {
        width: 50px;
    }

    h1 {
        font-size: 45px;
    }

    .bold-txt {
        font-size: 24px;
    }

    .contact-me-btn {
        align-self: center;
        scale: 0.8;
    }

}