<section>

    <div class="mobile-headline">
        <div class="headline">
            <h1>My skills</h1>
            <span class="line"></span>
        </div>
        <p>
            {{"skills.experience" | translate}}
        </p>

    </div>

    <div class="skills-container">
        @for (skill of skills; track $index) {

        <div class="skill">
            <img src="{{skill.icon}}" alt="">
            {{skill.name}}
        </div>
        }
    </div>

    <div class="my-skills-container">

        <div class="desktop-headline">
            <div class="headline">
                <h1>{{"skills.headline" | translate}}</h1>
                <span class="line"></span>
            </div>
            <p>{{"skills.experience" | translate}}</p>
        </div>

        <p class="bold-txt">{{"skills.anotherSkill.looking" | translate}}<span
                class="blue-txt">{{"skills.anotherSkill.another" | translate}}</span>?</p>
        <p>{{"skills.contactMe" | translate}}</p>
        <a class="contact-me-btn" href="#contact">{{"skills.contactBtn" | translate}}</a>

    </div>

</section>