section {
    width: 100vw;
    max-width: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0 100px 100px;
    color: whitesmoke;
    gap: 50px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.skills-container {
    width: 700px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    row-gap: 0px;
    justify-content: center;
}

.skill {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 70px;
    height: fit-content;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;

    &:hover {
        filter: drop-shadow(0 0 0.75rem #4B47FF);
    }

    img {
        transition: all ease-in-out 100ms;
    }
}


.tooltip {
    position: absolute;
    top: -140px;
    /* Über das Icon schieben */
    left: 50%;
    transform: translateX(-50%);
    // background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.skill:hover .tooltip {
    opacity: 1;
    visibility: visible;
}


@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    /* Icon hebt leicht ab */
    100% {
        transform: translateY(0px);
    }
}

@keyframes hover-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    /* Leicht vergrößern */
    100% {
        transform: scale(1);
    }
}

.icon {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    animation: floating 3s infinite ease-in-out;
    /* Dauerschweben */
    filter: drop-shadow(0px 5px 15px hwb(0 0% 100% / 0.8));
}

.icon:hover {
    animation: hover-scale 0.3s ease-in-out;
    /* Skalierung bei Hover */
}

.my-skills-container {
    display: flex;
    flex-direction: column;
    color: white;
    height: fit-content;
    gap: 50px;
}

.headline {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 90px;
}

.line {
    width: 360px;
    height: 5px;
    background-color: #4B47FF;
}

p {
    padding-right: 120px;
}

.bold-txt {
    font-size: 30px;
    font-weight: bold;

    .blue-txt {
        color: #00BEE8;
    }
}

.contact-me-btn {
    width: fit-content;
    padding: 20px;
    height: 60px;
    font-size: 23px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #4B47FF;
    transition: all ease-in-out 100ms;

    &:hover {
        scale: 1.2;
    }

    &:active {
        scale: 0.9;
    }
}

.mobile-headline {
    display: none;
}

.get-touch-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media(max-width: 1500px) {
    .line {
        width: 250px;
    }
}

@media(max-width: 1250px) {
    section {
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 100px 80px;
    }

    .skills-container {
        width: 100%;
        justify-content: center;

        height: fit-content;
        gap: 60px;

    }

    .desktop-headline {
        display: none;
    }

    .mobile-headline {
        display: block;
    }

    .headline {
        justify-content: end;
        gap: 20px;
    }

    h1 {
        font-size: 60px;
    }

    .line {
        width: 150px;
    }

    p {
        text-align: center;
        padding: 0;
    }

    .contact-me-btn {
        align-self: center;
    }

}

@media(max-width: 800px) {
    section {
        padding: 0 60px 60px 60px;
    }

    h1 {
        font-size: 50px;
    }

    .line {
        width: 100px;
    }

    p {
        padding: 0;
        text-align: center;
    }
}


@media(max-width: 500px) {
    section {
        padding: 10px 10px 100px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .skills-container {
        gap: 35px;
    }

    .line {
        width: 50px;
    }

    h1 {
        font-size: 45px;
    }

    .bold-txt {
        font-size: 24px;
    }

    .contact-me-btn {
        align-self: center;
        scale: 0.8;
    }

}

@media(max-width:400px) {
    h1 {
        font-size: 42px;
    }

    .headline {
        gap: 5px;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    section {
        font-size: 16px;
    }

    .skills-container {
        gap: 40px;
    }
}