<section>

    <div data-aos="fade-left" data-aos-anchor-placement="top-center" class="mobile-headline">
        <div class="headline">
            <h1>My skills</h1>
            <span class="line"></span>
        </div>
        <p>
            {{"skills.experience" | translate}}
        </p>
    </div>



    <div class="skills-container">
        @for (skill of skills; track $index; let i = $index) {

        <div data-aos="flip-up" data-aos-duration="250" [attr.data-aos-delay]="i * 100" class="skill">
            <img class="icon" src="{{skill.icon}}" alt="">
            {{skill.name}}
        </div>
        }




    </div>




    <div class="my-skills-container">

        <div data-aos="fade-left" data-aos-anchor-placement="top-center" class="desktop-headline">
            <div class="headline">
                <h1>{{"skills.headline" | translate}}</h1>
                <span class="line"></span>
            </div>
        </div>

        <div data-aos="fade-up" class="get-touch-container">
            <p class="desktop-headline">{{"skills.experience" | translate}}</p>

            <p class="bold-txt">{{"skills.anotherSkill.looking" | translate}}<span
                    class="blue-txt">{{"skills.anotherSkill.another" | translate}}</span>?</p>
            <p>{{"skills.contactMe" | translate}}</p>
            <a class="contact-me-btn" href="#contact">{{"skills.contactBtn" | translate}}</a>
        </div>
    </div>

</section>