<div class="container">

    <form class="" action="action_page.php">


        <input type="text" placeholder="Your name">

        <input type="email" placeholder="Your email">

        <textarea placeholder="Your message" style="height:200px"></textarea>

        <input type="checkbox" id="privacy" name="privacy">
        <label for="privacy">I've read the <a href="#">privacy policy</a>and agree to the processing of my data as
            outlined.</label>

        <button>Send message :)</button>

    </form>

</div>