<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

    <div class="input-box" [ngClass]="{'invalid': !name.valid && name.touched, 'valid': name.valid}">
        <input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text"
            [attr.placeholder]="'contactform.name.placeholder' | translate" required>
        @if(!name.valid && name.touched){
        <span>{{"contactform.name.error" | translate}}</span>
        }
    </div>


    <div class="input-box" [ngClass]="{'invalid': !email.valid && email.touched, 'valid': email.valid}">
        <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="email"
            [attr.placeholder]="'contactform.email.placeholder' | translate" required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        @if(!email.valid && email.touched){
        <span>{{"contactform.email.error" | translate}}</span>
        }
    </div>


    <div class="input-box" [ngClass]="{'invalid': !message.valid && message.touched, 'valid': message.valid}">
        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message"
            [attr.placeholder]="'contactform.message.placeholder' | translate" style="height:200px" required></textarea>
        @if(!message.valid && message.touched){
        <span>{{"contactform.message.error" | translate}}</span>
        }
    </div>


    <div class="privacy-check">
        <img class="checkbox" id="checkbox" (click)="changeImage()" [src]="imageUrl" alt="">

        <p>{{"contactform.privacyCheck.read" | translate}} <a href="#">{{"contactform.privacyCheck.privacy" |
                translate}}</a>{{"contactform.privacyCheck.accept" | translate}}</p>
    </div>


    <!-- <input  class="submit-btn" type="submit" value="Send message :)"> -->

    <button class="form-btn" type="submit">{{"contactform.submitBtn" | translate}}</button>

</form>