@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  /* Regular */
  src: url('./../public/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  /* Bold */
  src: url('./../public/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  /* Italic */
  src: url('./../public/fonts/Poppins-Italic.ttf') format('truetype');
}


* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}