<section>

    <div class="headline">
        <span class="line"></span>
        <h1>{{"contact.headline" | translate}}</h1>
    </div>


    <div class="contact-section">

        <div class="contact-info">
            <h3>{{"contact.head" | translate}}</h3>
            <p>
                {{"contact.description" | translate}}
            </p>
            <p>
                {{"contact.callToAction.normalText" | translate}} <b>{{"contact.callToAction.boldText" | translate}}</b>
            </p>
        </div>

        <app-contactform class="contactform"></app-contactform>

    </div>

</section>