<section>

    <div data-aos="zoom-in-right" class="headline">
        <span class="line"></span>
        <h1>{{"contact.headline" | translate}}</h1>
    </div>


    <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="contact-section">

        <div class="contact-info">
            <h3>{{"contact.head" | translate}}</h3>
            <p>
                {{"contact.description" | translate}}
            </p>
            <p>
                {{"contact.callToAction.normalText" | translate}} <b>{{"contact.callToAction.boldText" | translate}}</b>
            </p>
        </div>

        <app-contactform data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
            class="contactform"></app-contactform>

    </div>

</section>