<section>

    <div data-aos="fade-right" data-aos-anchor-placement="top-center" class="headline">
        <span class="line"></span>
        <h1>{{"contact.headline" | translate}}</h1>
    </div>


    <div data-aos="fade-left" class="contact-section">

        <div class="contact-info">
            <h3>{{"contact.head" | translate}}</h3>
            <p>
                {{"contact.description" | translate}}
            </p>
            <p>
                {{"contact.callToAction.normalText" | translate}} <b>{{"contact.callToAction.boldText" | translate}}</b>
            </p>
        </div>

        <app-contactform data-aos="zoom-out-down" class="contactform"></app-contactform>

    </div>

    <a class="up-arrow" href="#">
        <img src="icon/up-arrow-icon.svg" alt="">
    </a>
    

</section>