<footer>

    <div class="legal-box">
        <a class="name" href="#hero">Jamal</a>

        <div class="legals">
            <a href="privacy">
                Privacy Policy
            </a>

            <a href="imprint">
                Imprint
            </a>
        </div>
    </div>


    <span>© Jamal Drake Aman 2025</span>


    <div class="contact-icons">
        <a target="_blank" href="https://github.com/JamalDrakeAman">
            <img src="icon/github-icon.svg" alt="">
        </a>

        <a href="mailto:jd.aman.web@gmail.com">
            <img src="icon/email-icon.svg" alt="">
        </a>

        <a target="_blank" href="https://www.linkedin.com/in/jamal-drake-aman-a5640b325/">
            <img src="icon/linkedin-icon.svg" alt="">
        </a>
    </div>

</footer>