footer {
    color: white;
    height: 290px;
    width: 100%;
    // max-width: 100%;
    overflow: hidden;
    border-top: solid 5px #4B47FF;
    background-color: #141D2F;

    // padding: 100px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;


    .legal-box {
        display: flex;
        flex-direction: column;
        
        .name{
            font-size: 45px;
            font-weight: bold;
        }

        a{
            color: white;
            text-decoration: none;
            font-size: 16px;

        }
    }

    .contact-icons {
        display: flex;
        gap: 50px;

        a {
            transition: all ease-in-out 100ms;
        }

        a:hover {
            scale: 1.2;
        }

    }
}