<footer>

    <div class="legal-box">
        <a class="name" href="">Jamal</a>
        <a href="">
            Legal Notice
        </a>
    </div>


    <span>© Jamal Drake Aman 2025</span>


    <div class="contact-icons">
        <a href="#">
            <img src="icon/github-icon.svg" alt="">
        </a>

        <a href="#">
            <img src="icon/email-icon.svg" alt="">
        </a>

        <a href="#">
            <img src="icon/linkedin-icon.svg" alt="">
        </a>
    </div>

</footer>