<footer>

    <div class="legal-box">
        <a class="name" href="">Jamal</a>

        <div class="legals">
            <a href="">
                Legal Notice
            </a>
            <a href="">Imprint</a>
        </div>
    </div>


    <span>© Jamal Drake Aman 2025</span>


    <div class="contact-icons">
        <a href="#">
            <img src="icon/github-icon.svg" alt="">
        </a>

        <a href="#">
            <img src="icon/email-icon.svg" alt="">
        </a>

        <a href="#">
            <img src="icon/linkedin-icon.svg" alt="">
        </a>
    </div>

</footer>